<div id="home" class="section">

    
    <div><p> This page is fast intro for UM framework </p>
        <p> - about: couple words about MVC and REST API</p>
        <p> - how to: some examples how to use</p>
        <p> - contact: developer contact info </p>
    </div>
</div>